* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    margin: 0;
}



nav {
    height: 70px;
    width: 100%;
    background: #0094ff;
    animation: nav-load 300ms ease-in;
}

label.logo {
    font-size: 35px;
    color: black;
    padding: 0 100px;
    line-height: 90px;
}


nav ul {
    float: right;
    margin-right: 90px;
}

nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 90px;
}

nav a {
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

a:hover {
    border: 1px solid white;
    transition: 1s;
}

.main {
    padding: 100px;
    background-color: powderblue;
    opacity: 1;
    position: absolute;
    width: 1334px;
    height: 441px;
    
}
 article p{
    font-size:150%;

 }
 article h2{
     font-size:30px;
 }
